* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(315deg,#002f6c,#0e77ff, #5ea4ff); /* #ee82ee,#ffff00 */

    display: flex;

    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    line-height: 1.7;
}

#game {
    background: #39393963;
    box-shadow: 5px 5px 15px #ffffff25; 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    color: aliceblue;
    text-align: center;

    min-height: 600px;
    border-radius: 15px;
}

#header{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

#header h1{
    text-shadow: 1px 1px 2px #b7b7b743;
}

#hp-bar{
    align-self: center;
    justify-self: center;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hp-bar span {
    font-size: 2.2em;
}

#hp-fill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ff2929;
    border-radius: 15px;
}

#enabledInteractive{
    align-self: center;
    width: 80%;
    height: 50px;
    font-size: 20pt;
    background-color: #0e77ff;
    border-radius: 15px;
    color: aliceblue;
}


#content{
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text{
    font-size: 2em;
    text-align: center;
    padding: 15px;
    border: 4px solid #ffffff40;
    border-radius: 15px;
    text-shadow: 1px 1px 2px #b7b7b743;
}

#image{
    margin-top: 10px;
    border: 4px solid #ffffff40;
    border-radius: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.hero-left{
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 90%;
    max-width: 40%;
    z-index: 2;
}

.hero-right{
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 90%;
    max-width: 40%;
    z-index: 2;
    transform: rotateY(180deg);
}

#footer{
    text-align: right;
    border-top: 3px solid #ffffff50;
    color: #ffffff50;
    font-size: 1em;
}

#choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 15px;
}

#choices button{
    width: 80%;
    height: 70px;
    font-size: 20pt;
    background-color: #0e77ff;
    border-radius: 15px;
    color: aliceblue;
}

#choices button:disabled{
    border-radius: 15px;
    color: #f90003;
}

/* #choices-btn{
    animation: spin;
}

.dalee-btn:hover{
    animation: spin 1s infinite linear;
} */

@keyframes spin {
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(180deg);}
    100%{ transform: rotate(360deg);} 
}

@media (max-width: 800px) { /* Мобильные уст-ва */
    #game {
        width: 95vw;
    }
    #logo {
        width: 150px;
    }
    #header h1{
        font-size: 3rem;
        line-height: 1.2;
    }
    #hp-fill{
        height: 15px;
    }
}

@media (min-width: 800px) and (max-width: 1023px) { /* Планшеты*/
    #game {
        width: 90vw;
    }
    #logo {
        width: 120px;
    }
    #header h1{
        font-size: 4rem;
    }
    #logo:hover{
        animation: spin 1s infinite linear;
    }
    #hp-fill{
        height: 25px;
    }
}

@media (min-width: 1024px) { /* Ноутбуки / ПК */
    #game {
        width: 70vw;
    }
    #logo {
        max-width: 220px;
    }
    #header h1{
        font-size: 4.5rem;
    }   
    #hp-fill{
        height: 35px;
    } 
}